<div>
    <h3>Phrase-details component</h3>

    <div>ID: {{phrase?.id}}</div>

    <div *ngIf="authService.isLoggedIn; then thenBlock else elseBlock"></div>

    <div class="btn-group">
        <span class="button" (click)="goToPhrasesList()">
            Go to Phrases List
        </span>
    </div>
</div>

<ng-template #thenBlock>
    <div>
    <label>Value:
        <input type="text" [(ngModel)] ="editValue">
    </label> 
    </div>
    <div>
    <label>Language
        <input type="text" [(ngModel)] ="editLanguage">
    </label> 
    </div>
    <div *ngIf="isChanged()">
        <span class="button" (click)="save()">Save</span>
    </div>
</ng-template>
<ng-template #elseBlock>
    <div>Value: {{phrase?.value}}</div>
    <div>Language: {{phrase?.language}}</div>
</ng-template>